COMPOSE_PROJECT_NAME=traefik
PROJECT_DOMAIN=traefik.dojopkp.net

# Frontend:
FRONTEND_DOMAIN=dojopkp.net

# To avoid conflict with apache/nginx:
FRONTEND_HTTP_PORT=81
FRONTEND_HTTPS_PORT=8443

# Web administration
WEB_UI_PORT=8080

