# debug = true
# logLevel = "DEBUG"
# defaultEntryPoints = ["http", "https"]
defaultEntryPoints = ["81", "https"]

################################################################
# Web configuration backend
################################################################
# WEB interface of Traefik - it will show web page with overview 
# of frontend and backend configurations 
[web]
  address = ":8080"
  [web.auth.basic]
  # Tip: boss.num
  users = ["admin:$apr1$SeDtNTw2$wkqNuM5fuA7pbc3aZQydR/"]
# Tip: boxNum
#  users = ["admin:$apr1$yKh849i3$YYQIMuCKxpYYuAgPBffJa1"]
##  users = ["admin:$apr1$EnYf63Vn$v41Z5XQd6t56y6CWGV3QJ1"]
  [web.statistics]
    RecentErrors = 10

# # Force HTTPS
# [entryPoints]
#   [entryPoints.http]
# #  address = ":80"
#   address = ":81"
#     [entryPoints.http.redirect]
#       entryPoint = "https"
#   [entryPoints.https]
#   compress = true
#   address = ":443"
#     [entryPoints.https.tls]
#      # MinVersion = "VersionTLS12"
#      CipherSuites = ["TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384", "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA", "TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA", "TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA", "TLS_RSA_WITH_AES_128_GCM_SHA256", "TLS_RSA_WITH_AES_256_GCM_SHA384", "TLS_RSA_WITH_AES_128_CBC_SHA", "TLS_RSA_WITH_AES_256_CBC_SHA"]
 

# # Enable ACME (Let's Encrypt): automatic SSL
# [acme]
# # caServer = "https://acme-staging.api.letsencrypt.org/directory"
#   email = "marc.bria@uab.es"
#   storage = "acme.json"
#   entryPoint = "https"
#   onHostRule = true
#   onDemand = false
# #  acmeLogging=true


# Domains list.
#
# [[acme.domains]]
# main = "cgtinformatica.org"
# sans = ["nube.cgtinformatica.org", "www.cgtinformatica.org","encuesta.cgtinformatica.org"]


################################################################
# Docker configuration backend
################################################################
# Connection to docker host system (docker.sock)
[docker]
  domain = "ada.uab.cat"
#  domain = "docker.local"
  watch = true
  # This will hide all docker containers that don't have explicitly  
  # set label to "enable"
  # exposedbydefault = false


################################################################
# File configuration backend
# https://docs.traefik.io/configuration/backends/file/
################################################################
# [file]
#   watch = true
# [backends]
#   [backends.www]
#     [backends.www.servers.web_local]
#       url = "http://ada.uab.es:81"
# [frontends]
#   [frontends.www]
#     backend = "www"
#       [frontends.www.routes.web_local]
#       rule = "Host:ada.uab.cat"



# Force HTTPS
# [entryPoints]
#   [entryPoints.http]
# #  address = ":80"
#   address = ":81"
#     [entryPoints.http.redirect]
#     entryPoint = "https"
#   [entryPoints.https]
#   address = ":443"
#     [entryPoints.https.tls]
  
# # Enable ACME (Let's Encrypt): automatic SSL
# [acme]
# # caServer = "https://acme-staging.api.letsencrypt.org/directory"
#   email="marc.bria@uab.es"
#   storage="acme.json"
#   entryPoint="https"
#   OnHostRule=true
#   acmeLogging=true
#   onDemand=false
